<ion-view view-title="Order Dashboard" ng-controller="OrderDashCtrl as vm">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-light" href="#/app/new-order">New Order</a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <label class="item item-input">
      <input type="date" placeholder="Search" ng-model="vm.orderdate">
      <button class="button button-small button-icon icon ion-search" ng-click="SearchOrderbyDate()"></button>
    </label>
    <div class="list card">
      <div class="item item-divider">In Progress Orders</div>
      <div ng-repeat="order in orders | filter:{ orderstatus: 'In Progress' }">
        <button class="button button-block button-light" ng-click="GoToOrder(order._id)">{{order.custname}}</button>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Completed</div>
      <div ng-repeat="order in orders | filter:{ orderstatus: 'Completed' }">
        <button class="button button-block button-light" ng-click="GoToOrder(order._id)">{{order.custname}}</button>
      </div>
    </div>
  </ion-content>
</ion-view>