<ion-view view-title="Product Details">
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Quantity">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Cost">
			</label>
		</div>
		<a class="button button-calm">Add</a>
		<div class="row">
				<div class="col"><h5>Item Name</h5></div>
				<div class="col"><h5>Item Quantity</h5></div>
				<div class="col"><h5>Item Cost</h5></div>
		</div>
		<div class="row">
			<div class="col"><h5>Total Amount</h5></div>
			<div class="col"><h5>$0.00</h5></div>	
		</div>	
		<a class="button button-calm ionic-right" href="#/app/new-order-payment">Next</a>
	</ion-content>
</ion-view>