<ion-view view-title="Customer Details" ng-controller="NewOrderCtrl as neworder">
	<ion-content class="padding">
		<form novalidate="novalidate" on-valid-submit="GoToProduct()">
			<div class="list">
				<label class="item item-input validated">
					<input type="text" placeholder="Name" ng-model="neworder.custname" required="required">
					<i class="icon ion-alert-circled error"></i>
				</label>
				<label class="item item-input validated">
					<input type="number" placeholder="Mobile No" ng-model="neworder.custphone" required="required">
					<i class="icon ion-alert-circled error"></i>
				</label>
				<label class="item item-input validated">
					<input type="email" placeholder="Email" ng-model="neworder.custemail" required="required"></input>
					<i class="icon ion-alert-circled error"></i>
				</label>
				<label class="item item-input validated">
					<input type="text" placeholder="Address" ng-model="neworder.custaddress" required="required"></input>
					<i class="icon ion-alert-circled error"></i>
				</label>
			</div>
			<button type="submit" class="button icon-right ion-chevron-right button-calm">Next</button>
		</form>
	</ion-content>
</ion-view>