<ion-view view-title="Customer Details" ng-controller="NewOrderCtrl as neworder">
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Name" ng-model="neworder.custname">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Mobile No" ng-model="neworder.custphone">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Email" ng-model="neworder.custemail"></input>
			</label>
			<label class="item item-input">
				<textarea placeholder="Address" ng-model="neworder.custaddress"></textarea>
			</label>
		</div>
		
		<a class="button icon-right ion-chevron-right button-calm" href="" ng-click="GoToProduct()">Next</a>
	</ion-content>
</ion-view>