<ion-view view-title="Customer Details">
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Mobile No">
			</label>
			<label class="item item-input">
				<textarea placeholder="Email"></textarea>
			</label>
			<label class="item item-input">
				<textarea placeholder="Address"></textarea>
			</label>
		</div>
		<a class="button icon-right ion-chevron-right button-calm" href="#/app/no-productdeatil">Next</a>
	</ion-content>
</ion-view>