<ion-view view-title="Payment Details">
  <ion-content class="padding">
    <div class="item">
      Payment Done
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="payment.status">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
    </label>
    <div ng-show="payment.status">
      <label class="item item-input item-select">
        <div class="input-label">
          Payment Mode
        </div>
        <select ng-model="payment.type">
          <option ng-option value="Cash">Cash</option>
          <option ng-option value="NetBanking">Net Banking</option>
          <option ng-option value="Wallet">Wallet</option>
        </select>
      </label>
      <div class="list" ng-if="payment.type == 'Cash'">
        <label class="item item-input">
          <textarea placeholder="Comment"></textarea>
        </label>
      </div>
      <div ng-if="payment.type == 'NetBanking'">
        <label class="item item-input item-select">
          <div class="input-label">
            Bank Name
          </div>
          <select>
            <option>IDBI</option>
            <option selected>ICICI</option>
          </select>
        </label>
        <label class="item item-input">
          <textarea placeholder="Transaction Comment"></textarea>
        </label>
      </div>
      <div ng-if="payment.type == 'Wallet'">
        <label class="item item-input item-select">
          <div class="input-label">
            Wallet Name
          </div>
          <select>
            <option>PayTM</option>
            <option selected>PayU</option>
          </select>
        </label>
        <label class="item item-input">
          <textarea placeholder="Transaction Comment"></textarea>
        </label>
      </div>
    </div>
    <div ng-hide="payment.status">
      <label class="item item-input">
        <textarea placeholder="Description"></textarea>
      </label>
    </div>
    <a class="button button-block button-positive" href="#">Submit</a>
  </ion-content>
</ion-view>