<ion-view view-title="Order Dashboard" ng-controller="OrderDashCtrl as vm">
  <ion-content class="padding">
    <a class="button button-block button-positive" href="#/app/new-order">New Order</a>
    <div class="list card">
      <div class="item item-divider">In Progress Orders</div>
      <div class="item item-body" ng-repeat="order in orders">
        <div>
         <a href="/#/app/orders/{{order._id}}">{{order.custname}}</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Completed</div>
      <div class="item item-body">
        <div>
          Will Contain all the order which are completed!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>