<ion-view view-title="Product Details" ng-controller="NewOrderCtrl as product">
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Name" ng-model="product.productname">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Quantity" ng-model="product.productunit">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Cost" ng-model="product.productunitprice">
			</label>
		</div>
		<a class="button button-block button-calm" ng-click="AddProduct()">Add</a>
		<ion-list can-swipe="listCanSwipe">
			<ion-item ng-repeat="product in productListConsolidate" class="item-thumbnail-right">
				<h3>Product Name: {{product.productname}}</h3>
				<h5>Unit:{{product.productunit}}</h5>
				<h5>Unit Price:{{product.productunitprice}}</h5>
				<ion-option-button class="button-balanced" ng-click="productedit(product,$index)">Edit</ion-option-button>
				<ion-option-button class="button-assertive" ng-click="productdelete(product,$index)">Delete</ion-option-button>
			</ion-item>
		</ion-list>

		<div class="list card">
			<div class="row">
				<div class="col col-70">
					<h5>Total Amount</h5></div>
				<div class="col">
					<h5>{{totalamount}}</h5></div>
			</div>
		</div>

		<button class="button button-calm ionic-right" ng-click="GoToPayment()">Next</button>
	</ion-content>
</ion-view>