<ion-view view-title="Purchase Dashboard">
  <ion-content class="padding">
    <div class="list list-inset">
      <div class="row">
        <div class="col col-80">
          <label class="item item-input">
            <input type="date" placeholder="Search" ng-model="vm.purchasedate">
          </label>
        </div>
        <div class="col col-20">
          <button class="button button-small button-icon icon ion-search" ng-click="SearchPurchasebyDate()"></button>
        </div>
      </div>
    </div>
    <a class="button button-block button-positive" href="#/app/new-purchase">New Purchase</a>
    <div class="list card">
      <div class="item item-divider">In Progress Orders</div>
      <div ng-repeat="purchase in purchases | filter:{ purchasestatus: 'In Progress' }">
        <button class="button button-block button-light" ng-click="GoToPurchase(purchase._id)">{{purchase.delname}}</button>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Completed</div>
      <div ng-repeat="purchase in purchases | filter:{ purchasestatus: 'Completed' }">
        <button class="button button-block button-light" ng-click="GoToPurchase(purchase._id)">{{purchase.delname}}</button>
      </div>
    </div>
  </ion-content>
</ion-view>