<ion-view view-title="Purchase Dashboard">
  <ion-content class="padding">
    <a class="button button-block button-positive" href="#/app/new-purchase">New Purchase Order</a>
    <div class="list card">
      <div class="item item-divider">In Progress Purchase</div>
      <div class="item item-body">
        <div>
         Will contain all the purchase which are in progress stage
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Completed</div>
      <div class="item item-body">
        <div>
          Will Contain all the purchase which are completed!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>